[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
autopep8 = "*"
pylint = "*"
djangorestframework = "*"
django-cors-headers = "*"
pylint-django = "*"
python-dotenv = "*"
pillow = "*"
pytest = "*"
pytest-django = "*"

[dev-packages]

[requires]
python_version = "3.13"
